header {
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}


nav a:hover {
    color: #d3e018;
    text-decoration: underline;
}

nav li:hover {
    display: inline;
    margin: 0 0 0 15px;
    border: 1px solid;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;

}
/* INICIO DO Main formulario */ 

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px;
}

#prefere {
    color: #620e9b;
}


.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background:#555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

/* RODAPE DO SITE*/ 

footer {
    text-align: center;
    background-image: url(img/bg.jpg);
    padding: 40px 0;
}

footer p {
    color: white;
    font-size: 12px;
}


@media screen and (max-width: 480px){
    .caixa, .principal, .Beneficios, .mapa2, .video  {
        width: auto;
    }

    .caixa h1 {
        text-align: center;
    }

    nav {
        position: static;
    }
    main {
        width: 500px;
        margin: 0 10%;
    }
    

}